
<div id="services" class="content-container">
    <h1 class="service-title">Our Services</h1>
    <div class="service-card-container">
            <p-card >
                <ng-template #header >
                    <img alt="Card"  src="assets/tree-cutting.png" />
                </ng-template>
                <ng-template #title>
                    <span class="card-title"> Cutting </span>
                </ng-template>
                <p class="m-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </p-card>
            <p-card >
                <ng-template #header >
                    <img alt="Card"  src="assets/pruning.png" />
                </ng-template>
                <ng-template #title>
                    <span class="card-title"> Pruning </span>
                </ng-template>
                <p class="m-0">
                    Lorem ipsum odor amet, consectetuer adipiscing elit. Ac aliquet eu libero maecenas fringilla euismod duis. Eleifend finibus nullam per eu quam elementum. Tellus magnis cubilia tempus mattis venenatis.
                </p>
            </p-card>
            <p-card>
                <ng-template #header >
                    <img alt="Card"  src="assets/mulcher.svg" />
                </ng-template>
                <ng-template #title>
                    <span class="card-title"> Mulching </span>
                </ng-template>
                <p class="m-0">
                    Lorem ipsum odor amet, consectetuer adipiscing elit. Vel maecenas integer malesuada semper malesuada condimentum parturient. Nullam ante accumsan; etiam iaculis porta tellus curabitur nam.
                </p>
            </p-card>
    </div>
</div>


