
    <div class="slogan-container">
        <h1 class="slogan">Tree Daddies</h1>
    </div>
  
    <div id="about" class="about-container">
        <div class="image-container">
            <img src="assets/tree-four.jpg" alt="tree" class="circular-image" />
        </div>
        <div class="description-container">
            <h1 class="section-title">About Us</h1>
            <p>
                At Tree Daddies, we’re not just experts in tree cutting—we’re passionate about keeping your outdoor spaces safe, beautiful, and thriving. With over a decade of experience, our team specializes in tree removal, trimming, and maintenance, offering professional and reliable service you can count on.
                <br /><br />We take pride in combining advanced equipment with a deep respect for nature. Whether it’s clearing hazardous trees, shaping your landscape, or managing storm-damaged branches, we handle every job with precision and care.
                <br /><br />As a locally owned business, we’re committed to serving our community with honesty and integrity. At Tree Daddies, your satisfaction is our top priority, and we won’t leave the job site until you’re completely happy with the results.
                <br /><br />Let us take care of your trees so you can enjoy a safer, greener tomorrow. Tree Daddies—precision cuts, natural results.
            </p>
        </div>
    </div>
    

