@use "@angular/material" as mat;
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

// Customize the entire app. Change :root to your selector if you want to scope the styles.
button {
  @include mat.button-overrides(
    (
      filled-container-color: orange,
      filled-label-text-color: red,
    )
  );
}

.contact-container {
  background-color: #f8f9fa;
  background: linear-gradient(135deg, #043f13, #0e802a); /* Gradient effect */
  color: white;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  flex-direction: column; /* Stack the content vertically */
  align-items: center; /* Center the content vertically */
}

.section-title {
  margin-top: 20px;
  font-family: "Abril Fatface", serif;
  color: white;
  font-size: 4rem; /* Adjust font size as needed */
  outline: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow effect */
  justify-self: center;
}

.button-row {
  display: flex;
  flex-wrap: wrap; /* Allow buttons to wrap to the next line */
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Center the buttons vertically within the row */
  margin: 20px auto; /* Center the row itself within the parent horizontally */
  gap: 10px; /* Add space between the buttons */
  width: fit-content; /* Adjust width to fit the content */
}

.button-container {
  flex: 1 1 calc(50% - 10px); /* Buttons take 50% width minus the gap */
  display: flex; /* Ensure the buttons behave as flex items */
  justify-content: center; /* Center the button content */
  max-width: 50%; /* Ensure each button container does not exceed half the row width */
}

.custom-button {
  background-color: #966919 !important; /* Button background */
  color: rgb(255, 255, 255) !important; /* Text color */
}

.custom-button:hover {
  background-color: #ffbd33 !important; /* Darker on hover */
}

p {
  padding: 20px; /* Add padding around the text */
  margin: 0px; /* Remove default margin */

  text-align: center;
}

@media (min-width: 768px) {
  .button-container {
    flex: 1 1 auto; /* Buttons stretch naturally on larger screens */
  }

  .button-row {
    flex-wrap: nowrap; /* Single row for larger screens */
  }
}
