<div id="contact" class="contact-container">
  <h1 class="section-title">Contact Us</h1>
  <p>
    Have questions about our trees or services? Need help finding the perfect
    fit for your space? We're here to help!
  </p>
  <div class="button-row">
    <div class="button-container">
      <button (click)="makeCall()" mat-fab extended class="custom-button">
        <mat-icon>call</mat-icon>
        Call
      </button>
    </div>
    <div class="button-container">
      <button (click)="sendEmail()" mat-fab extended class="custom-button">
        <mat-icon>mail</mat-icon>
        E-Mail
      </button>
    </div>
    <div class="button-container">
      <button mat-fab extended class="custom-button">
        <mat-icon>map</mat-icon>
        Visit
      </button>
    </div>
    <div class="button-container">
      <button
        mat-fab
        extended
        class="custom-button"
        (click)="openBookingDialog()"
      >
        <mat-icon>calendar_month</mat-icon>
        Book
      </button>
    </div>
  </div>
</div>
