<div class="sticky-bar">
  <p-menubar class="desktop-only" [model]="deskTopItems"></p-menubar>
  <button
    class="mobile-only"
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>

  <!-- Dropdown menu -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let item of mobileItems">
      <mat-icon>{{ item.icon }}</mat-icon>
      <span>{{ item.label }}</span>
    </button>
  </mat-menu>
</div>
