
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto, // Use Material's typography configuration
    density: 0
  ) );
}
 //You can add global styles to this file, and also import other style files */


 button {
  @include mat.button-overrides((
    filled-container-color: orange,
    filled-label-text-color: red,
  ));
 }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
